@model Book
@{
	ViewData["Title"] = "Delete a Book";
}

<div class="container">
	<h2>Confirm Delete</h2>
	<h3>Are you sure you want to delete @Model.Title?</h3>
	<form asp-action="DeleteBook" method="post">
		<input type="hidden" asp-for="Id" />

		<button class="btn-primary" type="submit">Delete</button>
		<button class="btn-secondary" type="submit" asp-action="Index">Cancel</button>
	</form>
</div>