.blockquote-footer, .blockquote-footer p, #myHeader {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 0.9rem;
}
#myHeader * {
    color: white;
}
#myHeader a:hover{
    color: lightgray;
}
.blockquote-footer{
    margin-top: 1rem;
}
#bodyDiv{
    margin: 1rem;
}