.myInfo, .myInfo p, .myHeader {
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 0.9rem;
}
.myHeader a {
    color: lightcyan;
}
.myHeader a:hover{
    color: lightgray;
}
.myInfo {
    margin-top: 1rem;
}
.bodyDiv{
    margin: 1rem;
}